@charset="utf-8";

/* Extra small devices (phones, 600px and down) */
@media screen and (min-width: 366px) and (max-width: 600px){
    .gnb{display: none;}
    .mob-gnb{display: block;}
    #page1{height: 100%;}
    .video-box{display: none;}
    .poster-slide-cover{display: block;}
    
    .ticketbox{height: 100px;}
    .ticketbox-inner{width: 50%; height: 50%;}
    .ticketbox a{font-size: 1rem; line-height: 50px;}
    
    #page2{background-size: auto 100%;}
    
    .tap li{width: 110px; height: 45px; margin-top: 15px; line-height: 45px;}
    
    .btnbox{z-index: 35;}
    
    .moviebox{height: 680px; top: 12%;}
    .moviechart{height: 80%;}
    .movie{width: 48%; height: 48%; }
    .poster, .arthouse, .scheduled{height: 100%; margin-bottom: 1%;}
    .rank{width: 40px; height: 40px; border: 2px solid #da291c; font-size: 25px; line-height: 33px;}
    .detail{padding: 10px; width: calc(100% - 20px); height: calc(100% - 20px);}
    .detail h4{font-size: 1.3rem;}
    .detail .story{text-overflow: ellipsis; display: block; width: 100%; height: 48px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; }
    
    #page3{background-size: auto 100%; }
    
    .snack-btn-box{display: none;}
    .snack-box{height: 72%; top: 18%;}
    .snack-wrap{width: 100%;}
    .snack{width: 49%; height: 42%; }
    .snack:first-child, .snack:nth-child(3){margin-right: 1%;}
    .snack:nth-child(2), .snack:last-child{margin-left: 1%;}
    .snack-image{height: 82%; width: 90%;}
    .snack-image img{padding:  6%; width: 88%;}
    .snack-image .order a{margin: 12% auto;}
    .snack-detail{height: 33%; bottom: 5%; right: 2%;}
    .snack-detail h4{line-height: 17px; padding: 14px 0 3px 0;}
    .snack:nth-child(3) .snack-detail h4{padding-top: 14px;}
    .snack-detail p{display: none;}
    .snack-detail .price{display: block;}
    .snack:nth-child(3) .snack-detail p{line-height: 30px;}
    .snack.more{width: 100%; height: 16%;}
    .snack.more .snack-image{width: 100%; height: 100%; border-radius: 0; margin: 0;}
    .snack-more i{display: none;}
    .snack-more{line-height: 5rem; font-size: 1.5rem; letter-spacing: 2px;}
    
    footer{height: 200px;}
    .footer-inner{height: 180px;}
    .footer-logo{width: 90px; height: 60px;}
    .footer-logo img{width: 90%; margin: 10px 5px;}
    .footer-inner ul{width: calc(100% - 90px); height: 60px;}
    .footer-inner ul li a{line-height: 14px; height: 14px; margin-top: 5px; font-size: 0.6rem;}
    .footer-inner ul li:first-child a{padding-left: 10px;}
    .footer-con-box{width: 100%; height: 110px;}
    .footer-con-box p{font-size: 0.7rem; line-height: 20px;}
    
    .footer-social-box{display: none;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 601px) and (max-width: 767px){
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991px){
    #page1{height: 40%;}
    .ticketbox{bottom: 20px; height: 40px;}
    .ticketbox a{line-height: 40px; font-size: 1rem;}
    
    #page2{height: 60%; background-size: auto 100%;}
    .moviebox{top: 18%; height: 340px;}
    .poster, .arthouse, .scheduled{height: 260px;}
    .btnbox{top: 38%;}
    
    #page3{height: 40%;}
    .snack-detail h4{font-size: 16px; line-height: 10px;}
    .snack-detail p{font-size: 11px; line-height: 17px;}
    .snack:nth-child(3) .snack-detail p{line-height: 15px;}
    .snack-image .order a{margin: 20% auto}
    .snack.more .snack-image{margin-top: 15%; width: 170px; height: 170px;}
    .snack-more{line-height: 150px;}
    .snack-more i{top: 55%;}
    
    .footer{height: 150px;}
    .footer-inner{position: relative; position: 130px;}
    .footer-logo{width: 100px; height: 55px;}
    .footer-logo img{margin: 10px;}
    .footer-inner ul{width: calc(100% - 100px);}
    .footer-inner ul li a{height: 10px; line-height: 10px; font-size: 0.7rem;}
    .footer-con-box{width: calc(100% - 100px); height: 80px; margin-top: 10px;}
    .footer-con-box p{font-size: 0.7rem; line-height: 18px;}
    
    .footer-social-box{margin: 0; width: 90px; position: absolute; top: 45%; left: 0.5%;}
    .footer-inner .footer-social-box ul{width: 100%;}
    .footer-inner .footer-social-box ul li a{display: block; width: 20px; height: 20px;}
}
    
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199px){}
    
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) and (max-width:1919px){}